body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    background-color: #000;
    color: #fff;

    min-height: 200vh;

    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    font-weight: 200;
}

h3 {
    font-size: 1rem;
}

p {
    font-size: .8rem;
    line-height: 2em;
    letter-spacing: 1px;
    font-weight: 100;
}

/* Global Classes */
.mw {
    max-width: 900px;
    margin: 0 auto;
}

.mw--s {
    max-width: 600px;
    margin: 0 auto;
}

.banner {
    padding: 2em 0;
}

.appear {
    opacity: 0;
    transition: opacity 1s;
}

.down {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__content {
    background: url('https://images.unsplash.com/photo-1501854140801-50d01698950b?q=80&w=2175&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
    border-radius: 10px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    transition: max-width 1s;
}

.banner__content h1, .banner__content p {
    z-index: 1;
}

.banner__content__overlay {
    background:#000;
    height: 100%;
    width: 100%;
    z-index: 0;

    position: absolute;
    top: 0;
    left: 0;
    opacity: .6;
}

.about {
    display: flex;
    flex-direction: column;
    padding: 0 0 10em 0;


    transition: opacity 1s;
}

.data {
    display: flex;
    justify-content: center;
    margin: 0 0 5em 0;
}

.data.sticky {
    position: sticky;
    top: 0;
}

.data__content {
    background: rgba(255, 255, 255, .1);
    border-radius: 100px;
    width: 30%;
    padding: .5em 1em;

    display: flex;
    gap: 1em;

    align-items: center;
    justify-content: center;

    transition: .3s;
}

.sticky .data__content {
    background: rgba(255, 255, 255, 1);
    color: #000;
    border-radius: 0;
    width: 100%;

}

.sticky .data__content svg {
    stroke: #000;
}

.data__content span {
    font-weight: 100;
    font-size: .7rem;
}

.data__content span svg {
    width: 1.2em;
    transition: .3s;
}

.data__content__lane {
    opacity: .3;
}
